[submodule "COVID-19-Trade-Impact-Analysis"]
	path = COVID-19-Trade-Impact-Analysis
	url = https://github.com/gregdeli/COVID-19-Trade-Impact-Analysis.git
[submodule "Data-Structures-Project"]
	path = Data-Structures-Project
	url = https://github.com/gregdeli/Data-Structures-Project.git
