[submodule "COVID-19-Trade-Impact-Analysis"]
	path = COVID-19-Trade-Impact-Analysis
	url = https://github.com/gregdeli/COVID-19-Trade-Impact-Analysis.git
[submodule "Data-Structures-Project"]
	path = Data-Structures-Project
	url = https://github.com/gregdeli/Data-Structures-Project.git
[submodule "Android-Layout-XML-Parser"]
	path = Android-Layout-XML-Parser
	url = https://github.com/gregdeli/Android-Layout-XML-Parser.git
[submodule "Scheduler-Project"]
	path = Scheduler-Project
	url = https://github.com/gregdeli/Scheduler-Project.git
[submodule "Travel-Agency-Project"]
	path = Travel-Agency-Project
	url = https://github.com/gregdeli/Travel-Agency-Project.git/
[submodule "Parallel-Programing-Project"]
	path = Parallel-Programing-Project
	url = https://github.com/gregdeli/Parallel-Programing-Project.git
[submodule "Educational-University-Projects"]
	path = Educational-University-Projects
	url = https://github.com/gregdeli/Educational-University-Projects.git
[submodule "Volunteer-Coordination-Platform"]
	path = Volunteer-Coordination-Platform
	url = https://github.com/gregdeli/Volunteer-Coordination-Platform.git
[submodule "Dating-of-Ancient-Inscriptions-Using-Neural-Networks"]
	path = Dating-of-Ancient-Inscriptions-Using-Neural-Networks
	url = https://github.com/gregdeli/Dating-of-Ancient-Inscriptions-Using-Neural-Networks.git
[submodule "Ancient-Text-Restoration-Genetic-Algorithm"]
	path = Ancient-Text-Restoration-Genetic-Algorithm
	url = https://github.com/gregdeli/Ancient-Text-Restoration-Genetic-Algorithm.git
[submodule "Software-Engineering-Project"]
	path = Software-Engineering-Project
	url = https://github.com/gregdeli/Software-Engineering-Project.git
